.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #1f2933, #0f172a);
  padding: 1rem;

}

.auth-card {
  width: 100%;
  max-width: 380px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(14px);
  padding: 2.5rem;
  border-radius: 18px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
  text-align: center;
  animation: fadeUp 0.6s ease;

}

.auth-card h1 {
  color: white;
}

.auth-card p {
  color: #9ca3af;
  margin-bottom: 1.5rem;
}

.auth-card input {
  width: 93%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #334155;
  background: #020617;
  color: white;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  margin-top: 8px;
  cursor: pointer;
}

.primary {
  background: #6366f1;
  color: white;
}

.secondary {
  background: #111827;
  color: #e5e7eb;
}

.google {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.google img {
  width: 20px;
}

.divider {
  margin: 1rem 0;
  color: #9ca3af;
}

.footer-text {
  color: #9ca3af;
  font-size: 12px;
  margin-top: 1rem;
  display: block;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
